body {
  font-family: Arial, sans-serif;
  /* background-color: #fdf6e9;  prevoius color */
  background-color: #fffdf9; /* beige stays */
  /* width: 100%; */

  margin: 0;
}

.App {
  background-color: #fffdf9;
  min-height: 100vh;
}
